service: dynamic-dns-serverless-api
frameworkVersion: "4"

plugins:
  - serverless-domain-manager

provider:
  name: aws
  region: ap-southeast-2
  runtime: java25
  stage: production
  timeout: 25
  environment:
    GIT_COMMIT: ${param:git_commit, "unknown"}
    GIT_BRANCH: ${param:git_branch, "unknown"}
    BUILD_TIMESTAMP: ${param:build_timestamp, "1970-01-01T00:00:00Z"}

custom:
  customDomain:
    domainName: ip.ruchij.com
    certificateName: ip.ruchij.com
    createRoute53Record: true
    createRoute53IPv6Record: true
    endpointType: REGIONAL
    autoDomain: true
    stage: ${self:provider.stage}

package:
  artifact: ../../serverless/target/scala-2.13/dynamic-dns-serverless-api.jar

functions:
  healthCheck:
    handler: com.ruchij.serverless.handlers.ApiGatewayRequestHandler
    description: Health check endpoint
    events:
      - http:
          method: get
          path: /health

  ipAddress:
    handler: com.ruchij.serverless.handlers.ApiGatewayRequestHandler
    description: Responds with the IP address of the request
    events:
      - http:
          method: get
          path: /

