apiVersion: batch/v1
kind: CronJob
metadata:
  name: dynamic-dns-sync-job
  namespace: {{ namespace }}
spec:
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: 1800
      template:
        spec:
          restartPolicy: Never
          imagePullSecrets:
            - name: docker-registry-credentials
          containers:
            - name: dynamic-dns-sync-job-container
              image: ghcr.io/ruchira088/dynamic-dns-sync-job:{{ git_commit }}
              envFrom:
                - configMapRef:
                    name: dynamic-dns-sync-job-config-map
                - secretRef:
                    name: dynamic-dns-sync-job-secrets
              volumeMounts:
                - mountPath: /opt/data
                  name: file-config-map
          volumes:
            - name: file-config-map
              configMap:
                name: sync-job-file-config-map

